extends ./layouts/base  

block content
    if(errorMessage)
        div.error_message=errorMessage
    form(method="POST")
        input(type="password", required, name="currentpassword", placeholder="Current password")
        input(type="password", required, name="newpassword",  placeholder="New password")
        input(type="password", required, name="newpassword2", placeholder="Confirm, Input password")
        input(type="submit", value="ChangePassword")
    