extends ./layouts/base 

block content 
    if(errorMessage)
        li=errorMessage 
    form(method="POST")
        input(type="text", required, placeholder="Username", name="username")
        input(type="text", required, placeholder="Name", name="name")
        input(type="email", required, placeholder="Email", name="email")
        input(type="password", required, placeholder="Password", name="password")
        input(type="password", required, placeholder="Confirm, Input password", name="password2")
        input(type="submit", value="Join")
    div.page__changer
        a(href="/login") Already have account? &rarr; 