extends ./layouts/base 
include ./mixins/video

block content 
    div 
        img(src="/" + user.avatarUrl)
        h1=user.name
        each video in user.videos  
            +video(video)
    hr
    a(href=`/users/${user._id}/edit`) Edit Profile &rarr;