mixin video(video)
    a.video__container(href=`/videos/${video._id}`)
        div.video__thumb 
        div.video__data            
            div.video__info_title=video.title
            span.video__info_username=video.owner.name                
            div.video__meta 
                span.video__meta_views #{video.meta.views} 회
    