html 
    head 
        title #{pageTitle}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 #{pageTitle} | KooTube
            nav 
                ul 
                    li 
                        a(href="/") Home 
                    li 
                        a(href="/videos/upload") Upload
                    li 
                        a(href="/users/join") Join
        main 
            block content 
    include ../partials/footer
