html 
    head 
        title #{pageTitle}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 #{pageTitle} | KooTube
            nav 
                ul 
                    li 
                        a(href="/") Home 
                    if loggedIn
                        li 
                            a(href="/videos/upload") Upload
                        li 
                            a(href="/users/logout") Log out
                        li 
                            a(href=`/users/${loggedInUser._id}`) Profile    
                    else
                        li 
                            a(href="/login") Log in
                        li 
                            a(href="/users/join") Join
        main 
            block content 
    include ../partials/footer
